# .gitignore for PyLaTeX, Jupyter, and Python3

# PyLaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_metadata

# Python
*.pyc
*.pyo
*.egg-info/
__pycache__/
*.egg
*.log
*.pot
*.py[co]
*.spec
*.swp
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/
pip-wheel-metadata/
MANIFEST

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Spyder
.spyderproject
.spyproject

# Others
.DS_Store
*.swo
